<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d3f0fd234a3b8e87a118ebd7fbad097b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_d3f0fd234a3b8e87a118ebd7fbad097b" ></div>
        
</body>
<script>
    
    
            var map_d3f0fd234a3b8e87a118ebd7fbad097b = L.map(
                "map_d3f0fd234a3b8e87a118ebd7fbad097b",
                {
                    center: [12.9716, 77.5946],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7ef4e2b77606d9f8a52d22a64e1dba94 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d3f0fd234a3b8e87a118ebd7fbad097b);
        
    
            var marker_50471daab13bf3084994199dc8e46a34 = L.marker(
                [13.0827, 80.2707],
                {}
            ).addTo(map_d3f0fd234a3b8e87a118ebd7fbad097b);
        
    
        var popup_5f1550fa68c7e2f7aa7fe880e797d34a = L.popup({"maxWidth": "100%"});

        
            var html_2c3c414ffa82c888ff0db10395cd5485 = $(`<div id="html_2c3c414ffa82c888ff0db10395cd5485" style="width: 100.0%; height: 100.0%;">Chennai</div>`)[0];
            popup_5f1550fa68c7e2f7aa7fe880e797d34a.setContent(html_2c3c414ffa82c888ff0db10395cd5485);
        

        marker_50471daab13bf3084994199dc8e46a34.bindPopup(popup_5f1550fa68c7e2f7aa7fe880e797d34a)
        ;

        
    
    
            marker_50471daab13bf3084994199dc8e46a34.bindTooltip(
                `<div>
                     Chennai
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_757fb1d026d673cdd8da54f871591363 = L.marker(
                [11.0168, 76.9558],
                {}
            ).addTo(map_d3f0fd234a3b8e87a118ebd7fbad097b);
        
    
        var popup_1b6e5b04281ca9a667da69d3245f51c8 = L.popup({"maxWidth": "100%"});

        
            var html_ec725603192afc81edf58a7e7de04758 = $(`<div id="html_ec725603192afc81edf58a7e7de04758" style="width: 100.0%; height: 100.0%;">Coimbatore</div>`)[0];
            popup_1b6e5b04281ca9a667da69d3245f51c8.setContent(html_ec725603192afc81edf58a7e7de04758);
        

        marker_757fb1d026d673cdd8da54f871591363.bindPopup(popup_1b6e5b04281ca9a667da69d3245f51c8)
        ;

        
    
    
            marker_757fb1d026d673cdd8da54f871591363.bindTooltip(
                `<div>
                     Coimbatore
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ae635af82fd1ec718c7234c6048592b3 = L.marker(
                [9.9252, 78.1198],
                {}
            ).addTo(map_d3f0fd234a3b8e87a118ebd7fbad097b);
        
    
        var popup_5221644ccffdf115b16870acd6330502 = L.popup({"maxWidth": "100%"});

        
            var html_9f67cc1353058cc5d2b4264a684fd5ef = $(`<div id="html_9f67cc1353058cc5d2b4264a684fd5ef" style="width: 100.0%; height: 100.0%;">Madurai</div>`)[0];
            popup_5221644ccffdf115b16870acd6330502.setContent(html_9f67cc1353058cc5d2b4264a684fd5ef);
        

        marker_ae635af82fd1ec718c7234c6048592b3.bindPopup(popup_5221644ccffdf115b16870acd6330502)
        ;

        
    
    
            marker_ae635af82fd1ec718c7234c6048592b3.bindTooltip(
                `<div>
                     Madurai
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_12613131dc8fe9ec5101815ac0d62866 = L.marker(
                [10.7905, 78.7047],
                {}
            ).addTo(map_d3f0fd234a3b8e87a118ebd7fbad097b);
        
    
        var popup_abeb618635b91ea45f33699fbc7e98b1 = L.popup({"maxWidth": "100%"});

        
            var html_05cc293005e5b7686f29059cf047aa14 = $(`<div id="html_05cc293005e5b7686f29059cf047aa14" style="width: 100.0%; height: 100.0%;">Trichy</div>`)[0];
            popup_abeb618635b91ea45f33699fbc7e98b1.setContent(html_05cc293005e5b7686f29059cf047aa14);
        

        marker_12613131dc8fe9ec5101815ac0d62866.bindPopup(popup_abeb618635b91ea45f33699fbc7e98b1)
        ;

        
    
    
            marker_12613131dc8fe9ec5101815ac0d62866.bindTooltip(
                `<div>
                     Trichy
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e9c91519e072cf9e5da772a285b7c568 = L.marker(
                [8.7139, 77.699],
                {}
            ).addTo(map_d3f0fd234a3b8e87a118ebd7fbad097b);
        
    
        var popup_f7a67102ea9a7cc3cdd7cd1e4bb40ab5 = L.popup({"maxWidth": "100%"});

        
            var html_952701bde297b46d488a9286cbc7b9e9 = $(`<div id="html_952701bde297b46d488a9286cbc7b9e9" style="width: 100.0%; height: 100.0%;">Tirunelveli</div>`)[0];
            popup_f7a67102ea9a7cc3cdd7cd1e4bb40ab5.setContent(html_952701bde297b46d488a9286cbc7b9e9);
        

        marker_e9c91519e072cf9e5da772a285b7c568.bindPopup(popup_f7a67102ea9a7cc3cdd7cd1e4bb40ab5)
        ;

        
    
    
            marker_e9c91519e072cf9e5da772a285b7c568.bindTooltip(
                `<div>
                     Tirunelveli
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1e4ba212ff5e5ac76f1eb4058ea9f7b1 = L.marker(
                [13.2172, 79.1003],
                {}
            ).addTo(map_d3f0fd234a3b8e87a118ebd7fbad097b);
        
    
        var popup_d9c6a22d33a27157a82b2600db564797 = L.popup({"maxWidth": "100%"});

        
            var html_7adda365d469fb9e68dc5628e6bc4d7b = $(`<div id="html_7adda365d469fb9e68dc5628e6bc4d7b" style="width: 100.0%; height: 100.0%;">Chittoor</div>`)[0];
            popup_d9c6a22d33a27157a82b2600db564797.setContent(html_7adda365d469fb9e68dc5628e6bc4d7b);
        

        marker_1e4ba212ff5e5ac76f1eb4058ea9f7b1.bindPopup(popup_d9c6a22d33a27157a82b2600db564797)
        ;

        
    
    
            marker_1e4ba212ff5e5ac76f1eb4058ea9f7b1.bindTooltip(
                `<div>
                     Chittoor
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fb892b838c76d70ecdf7a4c2ca0f26cf = L.marker(
                [13.6288, 79.4192],
                {}
            ).addTo(map_d3f0fd234a3b8e87a118ebd7fbad097b);
        
    
        var popup_b2c169af219fd59833f530403aa2621a = L.popup({"maxWidth": "100%"});

        
            var html_83e8d00f0b9d2d237c3a84569645eedd = $(`<div id="html_83e8d00f0b9d2d237c3a84569645eedd" style="width: 100.0%; height: 100.0%;">Tirupati</div>`)[0];
            popup_b2c169af219fd59833f530403aa2621a.setContent(html_83e8d00f0b9d2d237c3a84569645eedd);
        

        marker_fb892b838c76d70ecdf7a4c2ca0f26cf.bindPopup(popup_b2c169af219fd59833f530403aa2621a)
        ;

        
    
    
            marker_fb892b838c76d70ecdf7a4c2ca0f26cf.bindTooltip(
                `<div>
                     Tirupati
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cd770fa80a6d7db446a5d11dda84c207 = L.marker(
                [16.5062, 80.6337],
                {}
            ).addTo(map_d3f0fd234a3b8e87a118ebd7fbad097b);
        
    
        var popup_116db27544e9eec309bdf364ddef9b8d = L.popup({"maxWidth": "100%"});

        
            var html_f79ab6752e784ace33cf6b2a59478be9 = $(`<div id="html_f79ab6752e784ace33cf6b2a59478be9" style="width: 100.0%; height: 100.0%;">Vijayawada</div>`)[0];
            popup_116db27544e9eec309bdf364ddef9b8d.setContent(html_f79ab6752e784ace33cf6b2a59478be9);
        

        marker_cd770fa80a6d7db446a5d11dda84c207.bindPopup(popup_116db27544e9eec309bdf364ddef9b8d)
        ;

        
    
    
            marker_cd770fa80a6d7db446a5d11dda84c207.bindTooltip(
                `<div>
                     Vijayawada
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_336a666bfed0ba3606bfe9d4b1abf65d = L.marker(
                [12.9716, 77.5946],
                {}
            ).addTo(map_d3f0fd234a3b8e87a118ebd7fbad097b);
        
    
        var popup_aa8670434660de1cc9280627c04553be = L.popup({"maxWidth": "100%"});

        
            var html_41a0dc799e772e3dffafac8bf8bd8839 = $(`<div id="html_41a0dc799e772e3dffafac8bf8bd8839" style="width: 100.0%; height: 100.0%;">Bengaluru</div>`)[0];
            popup_aa8670434660de1cc9280627c04553be.setContent(html_41a0dc799e772e3dffafac8bf8bd8839);
        

        marker_336a666bfed0ba3606bfe9d4b1abf65d.bindPopup(popup_aa8670434660de1cc9280627c04553be)
        ;

        
    
    
            marker_336a666bfed0ba3606bfe9d4b1abf65d.bindTooltip(
                `<div>
                     Bengaluru
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3ccff4aca7ef4784b5f61fb01b9dd9e9 = L.marker(
                [12.2958, 76.6394],
                {}
            ).addTo(map_d3f0fd234a3b8e87a118ebd7fbad097b);
        
    
        var popup_960a4d526e631b15f323f431a7625e1a = L.popup({"maxWidth": "100%"});

        
            var html_ee0f5af52f19b7f312cced73f4cc46a8 = $(`<div id="html_ee0f5af52f19b7f312cced73f4cc46a8" style="width: 100.0%; height: 100.0%;">Mysuru</div>`)[0];
            popup_960a4d526e631b15f323f431a7625e1a.setContent(html_ee0f5af52f19b7f312cced73f4cc46a8);
        

        marker_3ccff4aca7ef4784b5f61fb01b9dd9e9.bindPopup(popup_960a4d526e631b15f323f431a7625e1a)
        ;

        
    
    
            marker_3ccff4aca7ef4784b5f61fb01b9dd9e9.bindTooltip(
                `<div>
                     Mysuru
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6ac6dc8cb3015b193776fd61ad6e4b86 = L.marker(
                [10.7867, 76.6548],
                {}
            ).addTo(map_d3f0fd234a3b8e87a118ebd7fbad097b);
        
    
        var popup_6bbc5eef7058684121a4185bc1240fd0 = L.popup({"maxWidth": "100%"});

        
            var html_6845b6a3f8d632bf492e9882158920d4 = $(`<div id="html_6845b6a3f8d632bf492e9882158920d4" style="width: 100.0%; height: 100.0%;">Palakkad</div>`)[0];
            popup_6bbc5eef7058684121a4185bc1240fd0.setContent(html_6845b6a3f8d632bf492e9882158920d4);
        

        marker_6ac6dc8cb3015b193776fd61ad6e4b86.bindPopup(popup_6bbc5eef7058684121a4185bc1240fd0)
        ;

        
    
    
            marker_6ac6dc8cb3015b193776fd61ad6e4b86.bindTooltip(
                `<div>
                     Palakkad
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_797f579239bc0defe8dc7691f4c9be27 = L.marker(
                [10.5276, 76.2144],
                {}
            ).addTo(map_d3f0fd234a3b8e87a118ebd7fbad097b);
        
    
        var popup_44fcbcc6f991b38ee7a09b688509cce5 = L.popup({"maxWidth": "100%"});

        
            var html_6c929786736844104045b69ceebeb5ea = $(`<div id="html_6c929786736844104045b69ceebeb5ea" style="width: 100.0%; height: 100.0%;">Thrissur</div>`)[0];
            popup_44fcbcc6f991b38ee7a09b688509cce5.setContent(html_6c929786736844104045b69ceebeb5ea);
        

        marker_797f579239bc0defe8dc7691f4c9be27.bindPopup(popup_44fcbcc6f991b38ee7a09b688509cce5)
        ;

        
    
    
            marker_797f579239bc0defe8dc7691f4c9be27.bindTooltip(
                `<div>
                     Thrissur
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f651c544a88cc5bda265fa4e0e9a069e = L.marker(
                [9.9312, 76.2711],
                {}
            ).addTo(map_d3f0fd234a3b8e87a118ebd7fbad097b);
        
    
        var popup_0b9558812e8a4005091242586d85de29 = L.popup({"maxWidth": "100%"});

        
            var html_973e75c48f23b8a5d762e0eb2a503aa6 = $(`<div id="html_973e75c48f23b8a5d762e0eb2a503aa6" style="width: 100.0%; height: 100.0%;">Kochi</div>`)[0];
            popup_0b9558812e8a4005091242586d85de29.setContent(html_973e75c48f23b8a5d762e0eb2a503aa6);
        

        marker_f651c544a88cc5bda265fa4e0e9a069e.bindPopup(popup_0b9558812e8a4005091242586d85de29)
        ;

        
    
    
            marker_f651c544a88cc5bda265fa4e0e9a069e.bindTooltip(
                `<div>
                     Kochi
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c07dc2fdb33a22e04f3d51280253205a = L.marker(
                [11.967, 92.981],
                {}
            ).addTo(map_d3f0fd234a3b8e87a118ebd7fbad097b);
        
    
        var popup_344834eca1eab7777f9d2d3d236bdb8e = L.popup({"maxWidth": "100%"});

        
            var html_1fe95f8f0aa22265d104e4549e839f44 = $(`<div id="html_1fe95f8f0aa22265d104e4549e839f44" style="width: 100.0%; height: 100.0%;">Havelock Island</div>`)[0];
            popup_344834eca1eab7777f9d2d3d236bdb8e.setContent(html_1fe95f8f0aa22265d104e4549e839f44);
        

        marker_c07dc2fdb33a22e04f3d51280253205a.bindPopup(popup_344834eca1eab7777f9d2d3d236bdb8e)
        ;

        
    
    
            marker_c07dc2fdb33a22e04f3d51280253205a.bindTooltip(
                `<div>
                     Havelock Island
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>